#topmost{
    width: 100vw;
    z-index: 100;
    position: fixed;
    border-bottom: 1px solid #f3ca20;
}
header{
    background-color: #f3ca20;
    color: #ffffff;
}

header p{
    width: fit-content;
    height: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

header p span{
    padding: 0 5px;
}
.navbar{
    background-color: #000000;
}
.navbar-brand:hover{
  color: #f3ca20;
}
.nav-item .active a{
    background-color: #f3ca20;
    color: #000;
}
.navbar-brand{
  color: #f3ca20;
}
.nav-link{
    color: #f3ca20;
    width: 120px;
    text-align: center;
    padding: 10px 50px;
    background-color: rgba(82, 80, 80, 0);
    transition: background-color .3s ease-in-out;
    font-family: 'Roboto', sans-serif;
}
.nav-link:hover{
    background-color: rgb(65, 63, 63);
    color: #f3ca20;
}
@media (min-width: 500px) {
    header p{ font-size: 1.1em;}
}

@media (max-width: 500px) {
    header p{ font-size: .7em;}
}